header {
  background-color: blue;
  height: 300px;
  padding: 50px;
}
body {
	overflow-x: hidden;
}
.contact {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.navbar {
  padding: 10px;
  color: white;
}
.nav-list {
  top: 30px;
  left: 600px;
  width: 1475px;
  height: 91px;
  margin-left: 450px;
}
.big-picture {
	display: flex;
  	justify-content: center;
  	height: 500px;
	max-width: 500px;
	margin-bottom: 450px;
	margin-left: 450px;
}
.small-picture {
	display: inline-block;
  width: 90%;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  margin: 0 auto;
  width: 490px;
  height: 200px;
  margin-right: 718px;
  margin-bottom: 3000px;
}