header {
  background-color: #0a22f4;
  height: 300px;
  padding: 50px;
}
body {
  overflow-x: hidden;
}
.contact {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.navbar {
  padding: 10px;
  color: white;
}
.nav-list {
  top: 30px;
  left: 600px;
  width: 1475px;
  height: 91px;
  margin-left: 450px;
}
.big-picture {
  display: flex;
  justify-content: center;
  height: 500px;
  margin-bottom: 10px;
  max-width: 500px;
  margin-left: 450px;
}
.small-picture {
  display: inline-block;
  width: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  margin: 0 auto;
  width: 490px;
  height: 190px;
  margin-right: 718px;
}
.maintext {
  text-align: center;
  font-size: 20px;
}
.mainparagraph {
  text-align: center;
  font-size: 16px;
  width: 40%;
  margin-left: 400px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0a22f4;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-left: 560px;
  margin-top: 60px;
}
.footer {
  background-color: #0a22f4;
  height: 500px;
  padding: 50px;
  margin-top: 200px;
}
.footer-h3 {
  color: white;
  margin-left: 50px;
}
.footer-text {
  color: white;
  width: 45%;
  text-align: left;
}
.lower-text1 {
  bottom: 30px;
  display: inline-block;
  margin-right: 100px;
  color: white;
  font-size: 10px;
  margin-left: 100px;
}
.lower-text2 {
  bottom: 30px;
  display: inline-block;
  color: white;
  font-size: 10px;
  margin-left: 500px;
}
.tiny-logo {
  bottom: 30px;
  display: inline-block;
  color: white;
  font-size: 10px;
  margin-left: 900px;
}
