header {
  background-color: blue;
  height: 300px;
  padding: 50px;
}
body {
	overflow-x: hidden;
}
.contact {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

.navbar {
  padding: 10px;
  color: white;
}
.nav-list {
  top: 27px;
  left: 240px;
  width: 1475px;
  height: 91px;
}
.big-picture {
	display: flex;
  	justify-content: center;
  	height: 500px;
	max-width: 500px;
	margin-bottom: 400px;
	margin-left: 450px;
}
.small-pictures {
	display: flex;
	justify-content: flex-start;
  }
  
  .small-picture {
	margin-right: 2px;
  }
  
  .small-picture:last-child {
	margin-right: 0; /* Remove the margin on the last image */
  }